[Service]
Environment="APISIX_LISTEN_ADDRESS=127.0.0.1"
Environment="APISIX_OIDC_CLIENT_SECRET={{ APISIX_OIDC_CLIENT_SECRET }}"
Environment="APISIX_SESSION_SECRET={{ APISIX_SESSION_SECRET }}"
Environment="BROWSER_BASE_URL={{ BROWSER_BASE_URL }}"
Environment="KEYCLOAK_HOST=127.0.0.1"
Environment="FRONTEND_HOST=127.0.0.1"
Environment="MAIL_HOST=127.0.0.1"
Environment="CITIZEN_HOST={{ backend_address }}"
Environment="OFFICER_HOST={{ backend_address }}"
Environment="ADMIN_HOST={{ backend_address }}"
